<!-- CAJAS INFORMACIÓN -->

<div class="d-flex cajaDoctor w-100">
  <!--
  <img
    class="img-fluid"
    src="../../../../../assets/images/ImagenesPaciente/fotoMedicoPaciente.svg"
    alt=""
  />
-->
  <p class="mx-5 fs-5 mt-4">
    <span class="fw-bold">{{ nombreDoctor }}</span>
    <br />
    <span class="rol fs-6">{{ tipoCita }}</span>
  </p>
</div>

<div class="cajaFechaHora mt-3 pt-2 w-100" style="font-size: 18px">
  <p class="mx-5 my-1 fw-bold">
    Fecha de la cita: 
    <span class="mx-1 fecha fw-light"> {{ fechaCita }}</span>
  </p>

  <p class="mx-5 fw-bold">
    Hora:
    <span class="mx-1 fecha fw-light">{{ horaCita }}</span>
  </p>
</div>
